<form action="/set_data" method="post">
    <input type="text" name="data">
    <input type="submit" value="分析">
</form>
<table class="tg">
    <thead>
      <tr>
        <th class="tg-c3ow" colspan="4">32bit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-c3ow">バージョン(4)</td>
        <td class="tg-c3ow">ヘッダ長(4)</td>
        <td class="tg-c3ow">サービスタイプ(8)</td>
        <td class="tg-c3ow">パケット長(16)</td>
      </tr>
      <tr>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow"></td>
      </tr>
      <tr>
        <td class="tg-c3ow" colspan="3">識別子(16)</td>
        <td class="tg-c3ow">フラグ(16)</td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="3"></td>
        <td class="tg-baqh"></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="2">TTL(8)</td>
        <td class="tg-baqh">プロトコル番号(8)</td>
        <td class="tg-baqh">ヘッダチェックサム(16)</td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="2"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">送信元IPアドレス(32)</td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4"></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">宛先IPアドレス(32)</td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4"></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">オプション(32×n)</td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4"></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">データ本体</td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4"></td>
      </tr>
    </tbody>
</table>
    